<!DOCTYPE html>
<html lang="{{ site.lang | default: "zh-CN" }}">
  <head>
    <meta charset="UTF-8">
    <title>萌小珞の温馨小屋</title>
    <link rel="icon" type="iamge/webp" sizes="48x48" href="/icon-48.webp">
    <link rel="icon" type="iamge/webp" sizes="32x32" href="/icon-32.webp">
    <link rel="shortcut icon" type="image/x-icon" href="/icon.ico">
    {% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    {% include head-custom.html %}
  </head>
  <body>
    <a id="skip-to-content" href="#content">Skip to the content.</a>
    <header class="page-header" role="banner">
      <h1 class="project-name">萌小珞の温馨小屋</h1>
    </header>
    <main id="content" class="main-content" role="main">
      {{ content }}
      <footer class="site-footer">
        <h1 id="友情链接"><center>友情链接</center></h1>
        <p><a href="https://www.fuibafuyu.cn" target="_blank" rel="noopener noreferrer" title="うち、フユどす">冬優ちゃんの小窝</a></p>
        <div align="center">
          <img src="https://api.xhofe.top/ip/?line1=欢迎访问本站！&line2=萌小珞の温馨小屋">
        </div>
      </footer>
    </main>
  </body>
</html>
